.center{
    display: flex;
    justify-content: center;


}
li{
    text-align: center;
    width: 500px;
    height: auto;
    background-color: rgb(219, 214, 139);
    padding: 10px;
    font-size: 20px;
    list-style: none;
    font-style:oblique;
}
.noText{
    text-decoration: line-through;
}