
li{
    text-align: center;
    width: 500px;
    height: auto;
    background-color: rgb(219, 214, 139);
    padding: 10px;
    font-size: 20px;
    list-style: none;
    font-style:oblique;
    margin: auto;
    margin-top: 10px;
}
/* .noText{
    text-decoration: line-through;
} */